<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}EHAFM - title not set{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body>
    <div>
        <a href="/fm/">FM Home</a>
        |
        {% if user.is_anonymous %}
            <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
        {% else %}
            {{ user }}
            |
            <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
