{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

    <h1>Contacts</h1>
    <h2>Menu:</h2>
    <ul>
        <li>
            <a href="/fm/contacts/new" id="id_add_new_contact_link">
                add a new contact
            </a>
        </li>
    </ul>
    <h2>List of Contacts:</h2>
    <table id="id_contacts_table" class="table">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>JSON</th>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ forloop.counter }}: {{ contact.contact_name }}</td>
                <td><a href="tel:{{ contact.contact_phone }}">{{ contact.contact_phone }}</a></td>
                <td><a href="mailto:{{ contact.contact_email }}">{{ contact.contact_email }}</a></td>
                <td>{% ifnotequal contact.json  None %}
                    <a href="{{ contact.id }}/json">JSON</a>
                    {% endifnotequal %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
