{% extends "base.html" %}

{% block title %}Facilities{% endblock %}

{% block content %}

    <h1>Facilities</h1>
    <h2>Menu:</h2>
    <ul>
        <li>
            <a href="/fm/facilities/new" id="id_add_new_facility_link">
                add a new facility
            </a>
        </li>
    </ul>
    <h2>List of Facilities:</h2>
    <table id="id_facilities_table" class="table">
        <tr>
            <th>Facility</th>
            <th>Facility Type</th>
            <th>Status</th>
            <th>Area</th>
            <th>JSON</th>
        </tr>
        {% for facility in facilities %}
            <tr>
                <td><a href="{{ facility.id }}/view">{{ facility.facility_name }}</a></td>
                <td>{{ facility.facility_type }}</td>
                <td>{{ facility.facility_status }}</td>
                <td>{{ facility.facility_area }}</td>
                <td>{% ifnotequal facility.json  None %}
                    <a href="{{ facility.id }}/json">JSON</a>
                {% endifnotequal %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
